{% extends "view_base.html" %}
{% block title %}关于博主{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <div class="post-content">
        <div class="am-padding-horizontal-0 am-padding-vertical-sm blog content-title">
            <h2>关于博主</h2>
        </div>
        <div class="am-padding fr-view">
            <p><span style="font-size: 18px;">博主：一个忠厚老实，寡言闷骚的90后。。。。。。（暂时写这么多吧，以后再慢慢补充）</span></p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>

            <p>
                <br>
            </p>
        </div>
    </div>
{% endblock %}
{% block bodyjs %}

{% endblock %}